@model PrimerParcial.Models.Tasas_de_Cambio

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tasas_de_Cambio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParDeMoneda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParDeMoneda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equivalencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equivalencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monedas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monedas.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
