@model IEnumerable<PrimerParcial.Models.Tasas_de_Cambio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParDeMoneda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equivalencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monedas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParDeMoneda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equivalencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monedas.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
