@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using static AdminLTEImp.Helpers.NavigationIndicatorHelper;

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li>
                    <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("home","index")">
                        <i class="nav-icon fas fa-home">
                        </i>
                        <p> Inicio </p>
                    </a>
                </li>
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Mantenimientos
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Articulos" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Articulos </p>
                            </a>
                            <a asp-controller="Ciudades" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Ciudades </p>
                            </a>
                            <a asp-controller="Clasificacion_Articulos" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Clasificación de Artículos </p>
                            </a>
                            <a asp-controller="Clasificacion_Clientes" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Clasificacion de Clientes </p>
                            </a>
                            <a asp-controller="Clasificacion_Suplidores" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Clasificacion de Suplidores </p>
                            </a>
                            <a asp-controller="Clientes" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Clientes </p>
                            </a>
                            <a asp-controller="Empleados" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Empleados </p>
                            </a>
                            <a asp-controller="Empresas" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Empresas </p>
                            </a>
                            <a asp-controller="Formas_de_Envio" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Formas de Envio </p>
                            </a>
                            <a asp-controller="Formas_de_Pagos" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Formas de Pagos </p>
                            </a>
                            <a asp-controller="Marcas" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Marcas </p>
                            </a>
                            <a asp-controller="Monedas" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Monedas </p>
                            </a>
                            <a asp-controller="Paises" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Paises </p>
                            </a>
                            <a asp-controller="Puestos_de_Trabajos" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Puestos de Trabajos </p>
                            </a>
                            <a asp-controller="Suplidores" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Suplidores </p>
                            </a>
                            <a asp-controller="Tasas_de_Cambio" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Tasas de Cambio </p>
                            </a>
                            <a asp-controller="Tipos_de_Documentos" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Tipos de Documentos </p>
                            </a>
                            <a asp-controller="Ubicaciones" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Ubicaciones </p>
                            </a>
                            <a asp-controller="Unidades_de_Medida" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Unidades de Medida </p>
                            </a>
                            <a asp-controller="Vendedores" asp-action="Index" class="nav-link @Url.MakeActiveClass("articulos","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Vendedores </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-briefcase"></i>
                        <p>
                            Operaciones
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="OrdenCompra" asp-action="Index" class="nav-link @Url.MakeActiveClass("ordencompra","index")">
                                <i class="nav-icon far fa-circle"></i>
                                <p> Orden de Compra </p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>