@model OrdenCompraDetalle

<div class="col-3">
    <button id="modalButton" class="btn btn-primary mb-3 mt-3" data-toggle="modal" data-target="#editModal"> Editar orden </button>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="detallesModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> klkkk orden </h4>
                <h4>@Model.Descripcion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="CreateDetalle">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="@Model.ArticuloId"></label>
                                    <select id="inputArticulo" asp-for="@Model.ArticuloId" class="form-control" asp-items="ViewBag.Articulos"></select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Descripcion"></label>
                                    <input id="inputDescripcion" asp-for="@Model.Descripcion" class="form-control" />
                                    <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Cantidad"></label>
                                    <input id="inputCantidad" asp-for="@Model.Cantidad" class="form-control" />
                                    <span asp-validation-for="@Model.Cantidad" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close </button>
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#detallesModal"> Submit </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
