@model PrimerParcial.Models.OrdenCompraMaster;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/AdminLTE/_Layout.cshtml";
}

<div class="card card-primary">

    @{ await Html.RenderPartialAsync("_DetalleModalPartial", new OrdenCompraDetalle()); }

    <!-- Table of Orden Compra Detalles -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0 mt-3" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Articulo</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th>Subtotal</th>
                                    <th>ITBIS</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="detailTBody">
                                @{
                                    string FindArticleById(string id)
                                    {
                                        return (from article in ViewBag.Articulos as SelectList
                                                where article.Value == id
                                                select article.Text).FirstOrDefault();
                                    }

                                    int index = 1;
                                    foreach (var detalle in Model.OrdenCompraDetalles)
                                    {
                                        <tr>
                                            <td>@index</td>
                                            <td>@FindArticleById(detalle.ArticuloId.ToString())</td>
                                            <td>@detalle.Descripcion</td>
                                            <td>@detalle.Precio</td>
                                            <td>@detalle.Cantidad</td>
                                            <td>@detalle.Subtotal</td>
                                            <td>@detalle.ITBIS</td>
                                            <td>@detalle.Total</td>
                                            <td>
                                                @{ await Html.RenderPartialAsync("_DetalleEditModalPartial", detalle); }
                                                <a asp-action="DeleteDetalle" asp-route-id="@index">Delete</a>
                                            </td>
                                        </tr>
                                        index++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="card-header">
        <h3 class="card-title"> Master </h3>
    </div>
    <form asp-action="Create">
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="SuplidorId"> Suplidor </label>
                        <select asp-for="SuplidorId" class="form-control" asp-items="ViewBag.Suplidores"></select>
                        <span asp-validation-for="SuplidorId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="FechaSalida"></label>
                        <input asp-for="FechaSalida" class="form-control" />
                        <span asp-validation-for="FechaSalida" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="FechaLlegada"></label>
                        <input asp-for="FechaLlegada" class="form-control" />
                        <span asp-validation-for="SuplidorId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="FormaEnvio"> Forma de Envío </label>
                        <select asp-for="FormaEnvioId" class="form-control" asp-items="ViewBag.FormasEnvio"></select>
                        <span asp-validation-for="FormaEnvio" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="FormaPago"> Forma de pago </label>
                        <select asp-for="FormaPagoId" class="form-control" asp-items="ViewBag.FormasPago"></select>
                        <span asp-validation-for="FormaPago" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary float-right"> Crear orden de compra </button>
        </div>
    </form>


</div>


@*@section _Scripts {
    @{await Html.RenderPartialAsync("AdminLTE/_Scripts");}
}*@