@model PrimerParcial.Models.Invoice

@{ 
    decimal total = 0;
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Invoice Print</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="text-center">
        <h1>Orden de compra para: @Model.Master.Suplidor.Name</h1>
        </div>    
    <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-12">
                    <h2 class="page-header">
                        <i class="fas fa-globe"></i> Ulloa y Jiménez Solutions, S.A.
                        <small class="float-right">Fecha de pedido: @Model.Master.FechaPedido.ToString("dd/MM/yyyy")</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-6 invoice-col">
                    Nuestra información:
                    <address>
                        <strong>Ulloa y Jiménez Solutions, S.A.</strong><br>
                        Av. Enrique Jiménez Moya #316<br>
                        Santo Domingo, DN<br>
                        Phone: (804) 123-5432<br>
                        Email: djimenez20191219@ucsd.edu.do
                    </address>
                </div>
                <!-- /.col -->
                @*<div class="col-sm-4 invoice-col">
                    To
                    <address>
                        <strong>John Doe</strong><br>
                        795 Folsom Ave, Suite 600<br>
                        San Francisco, CA 94107<br>
                        Phone: (555) 539-1037<br>
                        Email: john.doe@example.com
                    </address>
                </div>*@
                <!-- /.col -->
                <div class="col-sm-6 invoice-col">
                    <b>Orden número:</b> @Model.Master.Id<br>
                    <b>Fecha de llegada:</b> @Model.Master.FechaLlegada.ToString("dd/MM/yyyy")<br>
                    <b>Forma de pago:</b> @Model.Master.FormaPago.Descripcion
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <!-- Detalles -->
                <div class="col-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cantidad</th>
                                <th>Articulo</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Subtotal</th>
                                <th>ITBIS</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detalle in Model.Detalle)
                            {
                                <tr>
                                    <th>@detalle.Cantidad</th>
                                    <th>@detalle.Articulo.Name</th>
                                    <th>@detalle.Descripcion</th>
                                    <th>@detalle.Precio</th>
                                    <th>@detalle.Subtotal</th>
                                    <th>@detalle.ITBIS</th>
                                    <th>@detalle.Total</th>
                                </tr>
                                total += detalle.Total;
                            }
                        </tbody>
                    </table>
                    <hr />
                    <b>Total: @total</b>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
    <!-- Page specific script -->
    <script>window.addEventListener("load", window.print());</script>
</body>
</html>
